.Component-navBar
{
    display: flex;
    justify-content: space-around;

    padding: 20px;
    background-color: #1c1f24;;
}

@media only screen and (max-width: 450px) 
{
    .Component-navBar
    {
        justify-content: right;
    }
}